body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 20px;
}

h2 {
  text-align: center;
}

form {
  max-width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#errorMessages {
  color: red;
  margin-top: 10px;
}
